* {
	margin: 0;
}

html, body {
	font-family: "Helvetica Neue", Arial;

	background-color: #FFFFFF;

	padding: 0px;
	border: 0px;

	height: 100%;
}

a {
	text-decoration:none;
}

a:hover {
	color: black;
}

input[type=text], input[type=password] {
	border: 1px solid #2490CC;
}

input:focus {
	outline: none;
	box-shadow: none;
	border: none;
	border: 1px solid #2490CC
}

.button {
	color: #ffffff;

	font-family: "Helvetica Neue", Arial;

	background-color: #49B3FA;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #2490CC;
}

.button:hover {
	color: #DBF1FF;
}

#mt-signin-body {
	border: 1px solid #2490CC;
	background-color: #DBF1FF;
}

#mt-signin-inner {
	width: 350px;
	margin: 0 auto;
	display: table;
	margin-top: 50px;

	border: 1px solid #2490CC;
	background-color: #F7F6F1;
}

.mt-form-box {
	padding: 10px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #000000;
}

.mt-form-submit-body {
	padding-top: 10px;
}

.mt-form-submit {
	margin: 0 auto;
	display: table;

	outline: none;
	box-shadow: none;
	border: none;
	border: 1px solid #2490CC;

	color: #ffffff;

	font-family: "Helvetica Neue", Arial;
	font-size: 16px;
	background-color: #49B3FA;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

#container {
	padding: 10px;
}

#header {
}

#header > div{
	display:inline-block;
}

#logo {
	padding: 10px;
}

#search {
	margin-left: 50px;
	font-size: 24px;
}

#searchbar {
	width: 400px;
	border: 1px solid #2490CC;
	vertical-align: center;
	font-size: 24px;
}

#searchbutton {
	background-color: #49B3FA;
	border: 1px solid #2490CC;
	vertical-align: top;
	height: 100%;
	display:inline-block;
	font-size: 24px;
}

#sidebar {
	padding-top: 10px;

	float: left;
	width: 200px;
	height: 100%;
	margin-right: 10px;

	background-color: #DBF1FF;

	padding-left: 25px;
	padding-right: 25px;

	border-top: 1px solid #2490CC;
	border-right: 1px solid #2490CC;
}

.sidebar-block {
	border: 1px solid #2490CC;
	background-color: white;
	margin-bottom: 20px;
}

.sidebar-block-title {
	text-align: center;
	background-color: #49B3FA;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 5px;
	font-size:14px;
	color: white;
	border-bottom: 1px solid #2490CC;
	text-transform: uppercase;
}


.sidebar-block-body {
	padding: 10px;
	font-size: 16px;
	letter-spacing: 2px;
	color: #2490FA;
}

.sidebar-block-action{
	display: block;
}

.sidebar-block-button:hover {
	background-color: #DBF1FF;
}

#signout{
	background: #2D93F7;
}

#mt-welcome {
	top:80px;
	left: 275px;
	right: 0px;

	height: 1060px;

	background-color: #F7F6F1;
	border-left: 1px solid #2490CC;
	border-top: 1px solid #2490CC;
	border-bottom: 1px solid #2490CC;

	padding: 20px;
}

#welcome-browse-block {
	background-color: #FFFFFF;
	width: 100%;
	height: 160px;
	border: 1px solid #2490CC;
}