* {
	margin: 0;
}

html, body {
	font-family: "Helvetica Neue", Arial;

	background-color: #FFFFFF;

	padding: 0px;
	border: 0px;

	height: 100%;
}

a {
	text-decoration:none;
	color: inherit;
}

a:hover {
	color: black;
}

input[type=text], input[type=password] {
	border: 1px solid #2490CC;
}

input:focus {
	outline: none;
	box-shadow: none;
	border: none;
	border: 1px solid #2490CC
}

.button {
	color: #ffffff;

	font-family: "Helvetica Neue", Arial;

	background-color: #49B3FA;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #2490CC;
}

.button:hover {
	color: #DBF1FF;
}

#mt-signin-body {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 100%;
	height: 800px;

	border: 1px solid #2490CC;
	background-color: #DBF1FF;
}

#mt-signin-inner {
	width: 350px;
	margin: 0 auto;
	display: table;
	margin-top: 50px;

	border: 1px solid #2490CC;
	background-color: #F7F6F1;
}

#mt-signin2-inner {
	width: 350px;
	margin: 0 auto;
	display: table;
	margin-top: 50px;

	border: 1px solid #2490CC;
	background-color: #F7F6F1;
}

#mt-welcome-media-container {
	margin: 0 auto;
	display: table;
}

#mt-upload-inner {
	width: 350px;
	margin: 0 auto;
	display: table;
	margin-top: 50px;

	border: 1px solid #2490CC;
	background-color: white;
}

.mt-block-title {
	text-align: center;
	background-color: #49B3FA;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 5px;
	font-size:14px;
	color: white;
	border-bottom: 1px solid #2490CC;
}

.mt-block-title-left {
	text-align: left;
	background-color: #49B3FA;
	padding: 10px;
	letter-spacing: 5px;
	font-size:14px;
	color: white;
	border-bottom: 1px solid #2490CC;
}

.mt-form-box {
	padding: 10px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #000000;
}

.mt-form-submit-body {
	padding-top: 10px;
}

.mt-form-submit {
	margin: 0 auto;
	display: table;

	outline: none;
	box-shadow: none;
	border: none;
	border: 1px solid #2490CC;

	color: #ffffff;

	font-family: "Helvetica Neue", Arial;
	font-size: 16px;
	background-color: #49B3FA;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

#mt-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: inherit;

	min-width: 1024px;
}

#mt-header {
	background-color: #ffffff;

	position: absolute;
	width: 100%;
	height: 80px;
}

#mt-header-logo {
	position: absolute;
	top: 12px;
	left: 21px;
}

#mt-header-content {
	position: absolute;
	top:23px;
	left:275px;
}

#mt-header-content-searchbar {
	position: absolute;

	top: 0px;
	left: 0px;

	width: 400px;
	height: 30px;

	font-size: 24px;

	border: 1px solid #2490CC;
}

#mt-header-content-searchbutton {
	position: absolute;

	top: 0px;
	left: 402px;

	background-color: #49B3FA;

	border: 1px solid #2490CC;

	height: 34px;
	width:40px;
	padding-top: 4px;

	background-image: url("/images/search.png");
	background-repeat: no-repeat;
	background-position: center;

	color: transparent;
	font-size: 0px;
}

#mt-header-signin {
	position: absolute;
	right: 21px;
	top: 26px;
	font-size: 24px;
}

#mt-sidebar {
	position: absolute;
	top: 80px;
	left: 0px;

	width: 225px;
	height: 1400px;

	background-color: #DBF1FF;

	padding-left: 25px;
	padding-right: 25px;

	border-top: 1px solid #2490CC;
	border-bottom: 1px solid #2490CC;
}

.mt-sidebar-block {
	border: 1px solid #2490CC;
	background-color: white;
}

.mt-sidebar-block-body {
	padding: 10px;
	font-size: 16px;
	letter-spacing: 2px;
	color: #2490FA;
}

.mt-sidebar-block-button:hover {
	background-color: #DBF1FF;
}

#mt-welcome {
	position: absolute;
	
	top:80px;
	left: 275px;
	right: 0px;

	height: 1360px;

	background-color: #F7F6F1;
	border-left: 1px solid #2490CC;
	border-top: 1px solid #2490CC;
	border-bottom: 1px solid #2490CC;

	padding: 20px;
}

#welcome-browse-block {
	background-color: #FFFFFF;
	width: 700px;
	height: 160px;
	border: 1px solid #2490CC;
}

#welcome-browse-block-indv {
	background-color: #FFFFFF;
	width: 700px;
	height: 200px;
	border: 1px solid #2490CC;
	font-size:18px;
}

#welcome-browse-block-body {
	position: relative;
	background-color: #FFFFFF;
	width: 680px;
	height: 140px;
	padding: 10px;
}

#mt-welcome-media-block {
	background-color: #FFFFFF;
	width: 720px;
	height: 405px;
	border: 1px solid #2490CC;
}

.mt-welcome-media-block-comments {
	background-color: #FFFFFF;
	width: 700px;
	border: 1px solid #2490CC;
	padding: 10px;
}

.mt-welcome-media-block-header {
	text-align: left;
	width: 700px;
	background-color: #49B3FA;
	padding: 10px;
	letter-spacing: 5px;
	font-size:18px;
	color: white;
	border-left: 1px solid #2490CC;
	border-right: 1px solid #2490CC;
}

.mt-welcome-media-block-header-bottom {
	text-align: center;
	width: 700px;
	background-color: #49B3FA;
	padding: 10px;
	letter-spacing: 5px;
	font-size:18px;
	color: white;
	border-left: 1px solid #2490CC;
	border-right: 1px solid #2490CC;
	border-bottom: 1px solid #2490CC;
}

.border-top {
	border-top: 1px solid #2490CC;
}

.abs-right {
	position: relative;
	float: right;
	margin-top: -15px;
}

.abs-right2 {
	position: relative;
	float: right;
	right: 25px;
	margin-top: -15px;
}

.abs-right3 {
	position: relative;
	float: right;
	right: 60px;
	margin-top: -32px;
	line-height: 30px;
}

.mt-welcome-media-block-footer {
	padding: 10px;
	background-color: white;
	width: 700px;
	border: 1px solid #2490CC;
	margin-top: -1px;
	color: black;
}

.mt-media-img {
	display:block;
    margin:auto;
    max-height:405px;
    max-width: 720px;
}

#welcome-browse-block-info {
	position: absolute;
	left: 200px;
	top: 20px;
	width: 450px;
	height: 143px;
	overflow: hidden;
}

.browse-img-border {
	position: absolute;
	border: 1px solid #2490CC;
	width: 170px;
	height: 140px;
}

.home-img-border {
	position: absolute;
	border: 1px solid #2490CC;
	width: 140px;
	height: 110px;
}

.home-title-box {
	position: absolute;
	width: 140px;
	top: 130px;
	overflow: hidden;
}

.browse-img {
	max-width: 170px;
	max-height: 140px;
}

.home-img {
	max-width: 140px;
	max-height: 110px;
}

.page-bar {
	text-align: center;
	background-color: #49B3FA;
	padding: 10px;
	letter-spacing: 5px;
	font-size:14px;
	color: white;
	border: 1px solid #2490CC;
	width: 680px;
}

#profile-links {
	border: 1px solid #2490CC;
	background-color: #49B3FA;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 5px;
	font-size:14px;
	color: white;
}

.text-link {
	color: #49B3FA;
	text-decoration: underline;
	text-decoration: none;
}

.arrow-up {
	position: absolute;
	float: right;
	right: 150px;
	margin-top: 10px;
}

.arrow-down {
	position: absolute;
	float: right;
	right: 50px;
	margin-top: 10px;
}