* {
	margin: 0;
}

html, body {
	font-family: "Helvetica Neue", Arial;

	background-color: #DBF1FF;

	padding: 0px;
	border: 0px;
  height: 100%;
}

#container, #content{
	min-height: 100% !important;
}

a {
	text-decoration:none;
	color: inherit;
}

a span.oi{
	vertical-align: middle;
}

a:hover {
	color: black;
}

input[type=text], input[type=email], input[type=password], textarea {
	border: 1px solid #2490CC;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

input:focus {
	outline: none;
	box-shadow: none;
	border: none;
	border: 1px solid #2490CC
}

.button {
	color: #ffffff;

	font-family: "Helvetica Neue", Arial, sans-serif;

	background-color: #49B3FA;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #2490CC;
	cursor: pointer;
}

.button:hover {
	background: #DBF1FF;
}

.button span.oi, button span.oi{
	padding-right: 5px;
	vertical-align: middle;
}

#mt-signin-body {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 100%;
	height: 800px;

	border: 1px solid #2490CC;
	background-color: #DBF1FF;
}

#mt-signin-inner {
	width: 350px;
	margin: 0 auto;
	display: table;
	margin-top: 50px;

	border: 1px solid #2490CC;
	background-color: #F7F6F1;
}

#mt-signin2-inner {
	width: 350px;
	margin: 0 auto;
	display: table;
	margin-top: 50px;

	border: 1px solid #2490CC;
	background-color: #F7F6F1;
}

#mt-upload-inner {
	width: 350px;
	margin: 0 auto;
	display: table;
	margin-top: 50px;

	border: 1px solid #2490CC;
	background-color: white;
}

.block-title {
	text-align: center;
	background-color: #49B3FA;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 1px;
	font-size:20px;
	font-weight: bold;
	color: white;
	border-bottom: 1px solid #2490CC;
}

.block-title-left {
	text-align: left;
}

.mt-form-box {
	padding: 10px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #000000;
}

.mt-form-submit-body {
	padding-top: 10px;
}

.mt-form-submit {
	outline: none;
	box-shadow: none;
	border: none;
	border: 1px solid #2490CC;

	color: #ffffff;

	font-family: "Helvetica Neue", Arial;
	font-size: 16px;
	background-color: #49B3FA;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

#container {
	/*position: relative;
	margin-left: auto;
	margin-right: auto;
	height: inherit;

	min-width: 1024px;*/
	background-color: #DBF1FF;
}

#header{
	background-color: #ffffff;
	padding: 15px;
/*
	position: absolute;
	width: 100%;
	height: 80px;*/
}

#header div{
	display: inline-block;
}

#logo {
	/*position: absolute;
	top: 12px;
	left: 21px;*/
	width: 260px;
}

#header-content {
}

#search{
}

#searchbar {
	width: 400px;
	height: 30px;

	font-size: 24px;

	border: 1px solid #2490CC;
	vertical-align: top;
}

#searchbutton {
	background-color: #49B3FA;
	border: 1px solid #2490CC;
	height: 34px;
	width:40px;
	vertical-align: top;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

#signin {
	position: absolute;
	right: 21px;
	top: 26px;
	font-size: 24px;
}

#sidebar {
	/*position: absolute;
	top: 80px;
	left: 0px;*/

	width: 225px;
	/*height: 1400px;*/
	float: left;

	/*background-color: #DBF1FF;*/

	padding-left: 25px;
	padding-right: 25px;

	border-top: 1px solid #2490CC;
	/*border-bottom: 1px solid #2490CC;*/
}

.sidebar-block {
	border: 1px solid #2490CC;
	background-color: white;
}

.sidebar-block-body {
	padding: 10px;
	font-size: 16px;
	letter-spacing: 2px;
	color: #2490FA;
}

.sidebar-block-button:hover {
	background-color: #DBF1FF;
}

#content {
	/*position: absolute;
	
	top:80px;
	left: 275px;
	right: 0px;*/

	background-color: #F7F6F1;
	border-left: 1px solid #2490CC;
	border-top: 1px solid #2490CC;
	border-bottom: 1px solid #2490CC;

	padding: 20px;
	margin-left: 275px
}

.category-block {
	background-color: #FFFFFF;
	min-height: 200px;
	border: 1px solid #2490CC;
	font-size:18px;
	margin-bottom: 20px;
}

.category-block-title{
	width:100%;
}

.category-block-body {
	padding: 10px;
	overflow-x:scroll;
	white-space:nowrap;
}

.category-block-preview{
	display:inline-block;
	margin-right: 25px;
	width: 170px;
}

.category-block-preview:last-child{
	margin-right: 0px;
}

.category-view-more{
	float:right;
}

.media-preview-container{
	border: 3px solid #2490CC;
	background: #2490CC;
	width: 170px;
	height: 100px;
	text-align: center;
	overflow:hidden;
}

.media-preview {
	max-width: 100%;
	text-align: center;
	font-size: 90px;
	color: white;
  text-shadow: 2px 2px 3px rgba(19, 75, 107,.9);
}

.media-preview.audio{
	font-size: 80px;
	display: inline-block;
	margin-top: 10px;
}

.media-preview.view-more{
	display: inline-block;
	margin-top: 25px;
	font-size: 50px;
}

.media-title {
	font-style: italic;
	overflow: hidden;
	text-overflow: ellipsis;
}

.category-browse-no-media{
	font-size: 25px;
	font-style: italic;
}

/*#welcome-browse-block {
	background-color: #FFFFFF;
	width: 700px;
	height: 160px;
	border: 1px solid #2490CC;
}*/

.preview-block {
	background-color: #FFFFFF;
	height: 200px;
	border: 1px solid #2490CC;
	font-size:18px;
}

.preview-block-title{
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	padding-right: 5px;
}

.preview-block-body {
	padding: 10px;
}

.preview-block-info {
	/*position: absolute;
	left: 200px;
	top: 20px;
	width: 450px;
	height: 143px;
	overflow: hidden;*/
}

.preview-block-info .description{
	font-style: italic;
	height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.preview-thumbnail{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.preview-thumbnail .media-stats{
	margin-top: 5px;
}

.preview-thumbnail li{
	margin-right: 10px;
}

.media-stats ul{
	margin: 0px;
	padding: 0px;
}

.media-stats ul li{
	display: inline-block;
}

.media-stats ul li span{
	vertical-align: middle;
}

#media {
	margin: 0 auto;
	border: 1px solid #2490CC;
	background: white;
}

#player {
	background-color: white;
	max-height: 400px;
}

audio{
	width:100% !important;
}

.mejs-video{
	margin: auto;
}

.mejs-audio{
	width:100% !important;
}

.mejs-clear{
	clear:none !important;
}

#audio-image{
	border: 3px solid black;
	background: black;
	text-align: center;
	padding-top: 20px;
}

#audio-image .media-preview{
	color: #DBF1FF;
	font-size: 120px;
	text-shadow: 0px 0px 11px rgba(255,255,255,0.8);
}

#media-information{
	background-color: white;
	color: black;
}

#information{
	padding: 10px;
}

#media-information .keywords{
	font-size: 10px;
	font-style: italic;
	color: #E4E4E4;
}

#media-information .media-stats ul li{
	margin-right: 15px;
}

.actions{
	float: right;
	margin-top: 10px;
	margin-left: 10px;
}

.actions .button{
	display: block;
	margin-bottom: 5px;
}

#add-to-playlist{
	margin-top: 5px;
	margin-bottom: 5px;
}

#add-to-playlist select{
	width: 100%;
	margin-bottom: 3px;
}

#comments-section{
	clear: both;
}

#no-comments{
	padding-top: 5px;
	padding-bottom: 5px;
	font-style: italic;
	text-align: center;
}

#new-comment{
	padding: 5px;
	text-align: right;
}

#new-comment textarea{
	width: 100%;
}

#new-comment button{

}

.comment{
	margin-bottom: 10px;
	border-bottom: 1px dotted #E4E4E4;
}

.comment .comment-information{
	margin-left: 10px;
}

.comment .permalink{
	font-style: italic;
	color: #909090;
	padding-left: 5px;
}

.comment p{
	margin: 10px;
	font-style: italic;
}

.media-image {
	display:block;
  margin:auto;
  max-height: 400px;
}

#playlist .header .description{
	margin-top: 5px;
	margin-bottom: 5px;
}

#playlist h3{
	margin-bottom: 5px;
}

.playlist-actions{
	font-size: 28px;
	margin-left: 10px;
	color: #49B3FA;
}

.mt-welcome-media-block-comments {
	background-color: #FFFFFF;
	width: 700px;
	border: 1px solid #2490CC;
	padding: 10px;
}

.mt-welcome-media-block-header {
	text-align: left;
	width: 700px;
	background-color: #49B3FA;
	padding: 10px;
	letter-spacing: 5px;
	font-size:18px;
	color: white;
	border-left: 1px solid #2490CC;
	border-right: 1px solid #2490CC;
}

.mt-welcome-media-block-header-bottom {
	text-align: center;
	width: 700px;
	background-color: #49B3FA;
	padding: 10px;
	letter-spacing: 5px;
	font-size:18px;
	color: white;
	border-left: 1px solid #2490CC;
	border-right: 1px solid #2490CC;
	border-bottom: 1px solid #2490CC;
}

.border-top {
	border-top: 1px solid #2490CC;
}

.abs-right {
	position: relative;
	float: right;
	margin-top: -15px;
}

.abs-right2 {
	position: relative;
	float: right;
	right: 25px;
	margin-top: -15px;
}

.abs-right3 {
	position: relative;
	float: right;
	right: 60px;
	margin-top: -32px;
	line-height: 30px;
}

.mt-welcome-media-block-footer {
	padding: 10px;
	background-color: white;
	width: 700px;
	border: 1px solid #2490CC;
	margin-top: -1px;
	color: black;
}

.browse-img-border {
	position: absolute;
	border: 1px solid #2490CC;
	width: 170px;
	height: 140px;
}

.home-img-border {
	position: absolute;
	width: 140px;
	height: 110px;
}

.browse-img {
	max-width: 170px;
	max-height: 140px;
}

.page-bar {
	text-align: center;
	background-color: #49B3FA;
	padding: 10px;
	letter-spacing: 5px;
	font-size:14px;
	color: white;
	border: 1px solid #2490CC;
	width: 680px;
}

#profile-links {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size:24px;
}

#profile-links a span{
	padding-left: 10px;
	padding-right: 3px;
}

.text-link {
	color: #49B3FA;
}

.arrow-up {
	position: absolute;
	float: right;
	right: 150px;
	margin-top: 10px;
}

.arrow-down {
	position: absolute;
	float: right;
	right: 50px;
	margin-top: 10px;
}